body{
    background-color:rgb(15, 246, 246);
    font: normal 15px arial;
    text-align: center; 
    
}
header{
    color: white;
    
}
section{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    


}
footer{
    padding: 10px;
    font-style: italic;
    font-weight: bold;
}
img{
    width: 300px;
}